$version: "0.1.0";

// $color-dark: #41403e;
// $color-dark: #343a40;
$color-dark: #2d3238;
$color-lite: #fefefe;
$color-none: transparent;

$color-m-0: #5f666d;
$color-m-1: #e7e9ee;
$color-m-2: #f1f2f3;

// $color-r-0: #990000;
$color-r-0: #dc3545;
$color-r-1: #ffcccc;
$color-r-2: #fdf7f7;

$color-g-0: #357c35;
$color-g-1: #ccffcc;
$color-g-2: #f1f9f1;

$color-b-0: #00437f;
$color-b-1: #d6ddfe;
$color-b-2: #f4f8fa;

$color-y-0: #d38212;
$color-y-1: #fffccc;
$color-y-2: #fcf8f2;

$colors: (
    "m-0": $color-m-0,
    "m-1": $color-m-1,
    "m-2": $color-m-2,
    "r-0": $color-r-0,
    "r-1": $color-r-1,
    "r-2": $color-r-2,
    "g-0": $color-g-0,
    "g-1": $color-g-1,
    "g-2": $color-g-2,
    "b-0": $color-b-0,
    "b-1": $color-b-1,
    "b-2": $color-b-2,
    "y-0": $color-y-0,
    "y-1": $color-y-1,
    "y-2": $color-y-2,
    "dark": $color-dark,
    "lite": $color-lite,
    "none": $color-none,
);

$backgrounds: () !default;

$backgrounds: map-merge($colors, $backgrounds);

// Default color variables
$default-background-color: $color-lite;
$default-color: $color-dark;
$default-a-color: $color-b-0;

// Typography
$default-font-size: 20px !default;
$default-font-weight: normal;
$default-font-family: sans-serif;
$default-font-family-monospace: monospace !default;
$default-font-family-sans-serif: sans-serif !default;
$default-line-height: 1.5 !default;
$heading-line-height: 1.5 !default;

$font-2s: 0.55rem;
$font-xs: 0.7rem;
$font-sm: 0.85rem;
$font-nm: 1rem;
$font-md: 1.25rem;
$font-lg: 1.5rem;
$font-xl: 1.75rem;
$font-2x: 2rem;

$default-font-sizes: (
    2s: $font-2s,
    xs: $font-xs,
    sm: $font-sm,
    nm: $font-nm,
    md: $font-md,
    lg: $font-lg,
    xl: $font-xl,
    2x: $font-2x,
);

$pre-scrollable-max-height: 12rem;

// Grid letgth
$grid-len: 12;

// Breakpoints *** i think three breakpoints will be enough ***
$breakpoints: (
    lg: 1280px,
    md: 1024px,
    sm: 768px,
);

// Spacers
$default-space: 10px;
$min-space: 2px;

$spacers: (
    auto: auto,
    0: 0,
    1: 0.25rem,
    2: 0.5rem,
    3: 1rem,
    4: 2rem,
);

// Borders
$border-colors: () !default;
$border-colors: map-merge($colors, $border-colors);

$default-border-width: 2px !default;

// Utilities
$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;
