@mixin media($bp-name: '', $index: 0, $grid-len: 0) {
    $a: ($index / $grid-len) * 100%;
    $b: 2 * $min-space;

    @if ($bp-name == '') {
        .go-media.media-size-#{$index} {
            max-width: calc(#{$a} - #{$b});
        }
    } @else {
        .go-media.media-size-#{$index}-#{$bp-name} {
            max-width: calc(#{$a} - #{$b});
        }
    }
}
