@mixin media($bp-name: '', $index: 0, $grid-len: 0) {
    $a: ($index / $grid-len) * 100%;
    $b: 2 * $min-space;

    .go-media {
        @if ($bp-name == '') {
            &.unit-#{$index} {
                max-width: calc(#{$a} - #{$b});
            }
        } @else {
            &.unit-#{$index}-#{$bp-name} {
                max-width: calc(#{$a} - #{$b});
            }
        }
    }
}
