@mixin media($bp-name: '', $index: 0, $grid-len: 0) {
    $a: ($index / $grid-len) * 100%;

    .go-media {
        @if ($bp-name == '') {
            &.media-#{$index} {
                max-width: #{$a};
            }
        } @else {
            &.media-#{$index}-#{$bp-name} {
                max-width: #{$a};
            }
        }
    }
}
