/* display */

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

@each $value in $displays {
    .d-#{$value} {
        display: #{$value} !important;
    }
}

%show {
    display: none !important;
}

@each $bp-name, $bp-size in $breakpoints {
    .show-#{$bp-name} {
        @extend %show;
    }

    @media only screen and (max-width: $bp-size) {
        .hide-#{$bp-name} {
            display: none !important;
        }

        .show-#{$bp-name} {
            display: block !important;
        }
    }
}
