// Breadcrumbs

.breadcrumb {
    margin: $default-space 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;

    .breadcrumb-item {
        + .breadcrumb-item {
            padding-left: $min-space;

            &::before {
                content: '>';
                display: inline-block;
                padding-right: $min-space;
            }
        }
    }
}
