/* Entries */

.article,
.card {
    display: flex;
    flex-direction: column;

    > * {
        margin: 0;
    }

    a,
    div,
    p,
    span {
        word-break: break-word;
    }

    table {
        display: block;
        overflow: auto;
    }
}

.article {
    > [class^="article-"]:not(:last-child) {
        margin: 0 0 1rem 0;
    }
}
.card {
    > [class^="card-"]:not(:last-child) {
        margin: 0 0 1rem 0;
    }
}

.article {
    margin-top: 4 * $default-space;
    margin-bottom: 4 * $default-space;
}

.card {
    background: $color-lite;
    padding: $default-space;
}

.article-title,
.card-title {
    font-weight: bold;
    line-height: $heading-line-height;
    padding: 0;
    margin-bottom: $default-space;
    word-break: break-word;

    > * {
        margin: 0;
    }
}

.article-abstract,
.article-meta,
.card-meta {
    font-size: $font-sm;
}

.article-content,
.card-content {
    flex: 1 1 auto;
}

.article-unrelated {
    background: $default-background-color;
    margin: 2rem 0;
}

.article-footer,
.card-footer {
    align-items: stretch;
    border-top: 1px solid $color-m-0;
    display: flex;
    padding-top: $default-space;
}

.card-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    width: 100%;
}
