/* Entries */

.go-article,
.go-card {
    display: flex;
    flex-direction: column;

    > :not(:last-child) {
        margin: 0 0 $default-space 0;
    }

    a,
    div,
    p,
    span {
        word-break: break-word;
    }

    table {
        display: block;
        overflow: auto;
    }
}
.go-article {
    margin-top: 4 * $default-space;
    margin-bottom: 4 * $default-space;
}

.go-card {
    background: $color-lite;
    padding: $default-space;
}

.article-header,
.card-header {
    font-weight: bold;
    line-height: $heading-line-height;
    padding: 0;
    margin-bottom: $default-space;
    word-break: break-word;

    > * {
        margin: 0;
    }
}

.article-summary,
.article-meta,
.card-meta {
    font-size: $font-sm;
    font-style: italic;
}

.article-content,
.card-content {
    flex: 1 1 auto;
}

.article-unrelated {
    background: $default-background-color;
    margin: 2rem 0;
}

.article-footer,
.card-footer {
    align-items: stretch;
    border-top: 1px solid $color-dark;
    display: flex;
    padding-top: $default-space;
}

.card-image {
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    vertical-align: middle;
    width: 100%;
}

.go-notepaper {
    display: flex;
    flex-direction: column;
    margin: $default-space;

    .notepaper-header {
        background: rgba(0, 0, 0, 0.05);
        border-bottom: 1px dashed $color-dark;
        font-weight: bold;
        overflow-wrap: break-word;
        padding: $default-space/2 $default-space;
        text-align: center;
        word-break: break-word;
        word-wrap: break-word;
        vertical-align: middle;
    }

    .notepaper-content {
        height: 100%;
        padding: $default-space/2 $default-space;
        text-align: left;
        word-break: break-word;
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow-y: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
