.input {
    border: 1px solid $color-m-1;
    color: $color-dark;
    display: inline-block;
    padding: $min-space $min-space * 3;

    &.disabled {
        background-color: $color-m-1;
        color: $color-m-0;
    }
}
