// Tags

.go-tag {
    align-items: center;
    color: inherit;
    display: inline;
    margin: 0 $min-space;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    text-overflow: ellipsis;
    vertical-align: middle;


    > .tag-hashtag,
    &.tag-hashtag {
        &::before {
            content: "#";
        }
    }
}
