// Tags

.go-tag {
    align-items: center;
    display: inline-block;
    font-family: monospace, monospace !important;
    margin: 0 $min-space;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;

    &::before {
        content: '#';
    }

    > a {
        text-decoration: none;
    }
}
