/* Images, video, visual effects */

.bg-image {
    background: inherit;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

// Background-image zoom

.img-hover-zoom {
    float: left;
    margin: 0;
    transition: all 0.3s ease-in-out;
    background-size: 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &:hover {
        background-size: 110% !important;
    }
}

.img-responsive {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.img-cover {
    object-fit: cover;
}

.img-contain {
    object-fit: contain;
}

img,
video {
    &.go-media {
        display: inline-block;
        height: auto;
        max-width: 100%;
        overflow: hidden;
        position: relative;
    }
}

video {
    &.go-media {
        &::before {
            content: none;
            display: block;
        }

        iframe,
        object,
        embed {
            border: 0;
            bottom: 0;
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
        }
    }
}

